<template>
    <form class="col-6" v-on:submit.prevent="submit">
        <div class="mb-3">
            <label for="bookName" class="form-label">Name</label>
            <input class="form-control classhover" type="text" id="bookName"
                   placeholder="Default input" aria-label="default input example"
                   v-model="addBook.name"
            >
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input class="form-control classhover" type="text" id="exampleInputPassword1"
                   placeholder="Default input" aria-label="default input example"
                   v-model="addBook.description"
            >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Text</label>
            <textarea class="form-control classhover" id="exampleFormControlTextarea1"
                      rows="3" v-model="addBook.text"
            >
            </textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPrice" class="form-label">Price</label>
            <input class="form-control classhover" type="number" id="exampleInputPrice"
                   placeholder="Default input" aria-label="default input example"
                   v-model="addBook.price"
            >
        </div>
        <div class="mb-3">
            <label for="fileInput" class="form-label">Picture</label>
            <input type="file" class="form-control classhover" id="fileInput"
                   ref="file" v-on:change="handlePictureUpload()"
            >
        </div>
        <label for="exampleInputPassword1" class="form-label">Categories</label>
        <select class="form-select classhover" aria-label="multiple select example" v-model="addBook.category">
            <option
                v-for="category of getCategories"
                v-bind:key="category.id"
                :value="category['@id']"
            >
                {{ category.name }}
            </option>
        </select>
        <button type="submit" class="btn btn-primary mt-3">AddBook</button>
    </form>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "AddBook",
    data() {
        return {
            addBook: {
                name: '',
                description: '',
                text: '',
                category: '',
                price: ''
            },
            picture: '',
        }
    },
    computed: {
        ...mapGetters(['getCategories', "getPictureId"])
    },
    methods: {
        ...mapActions(["pushBook", 'uploadPicture']),
        submit() {
            let formData = new FormData();

            formData.append('file', this.picture);

            this.uploadPicture(formData)
                .then(() => {

                    let dataBook = {
                        name: this.addBook.name,
                        description: this.addBook.description,
                        text: this.addBook.text,
                        price: this.addBook.price,
                        category: this.addBook.category,
                        picture: this.getPictureId
                    };

                    return this.pushBook(dataBook)
                })
                .then(() => {
                    console.log('kitob yaratildi');
                    this.$router.push('/');
                })
            console.log('bu AddBook sahifasi create_book funksiyasi');
        },
        handlePictureUpload() {
            this.picture = this.$refs.file.files[0];
        }
    },
    mounted() {
        console.log(this.$refs.file.files[0])
    }
}
</script>

<style scoped>
    .classhover{
        box-sizing: border-box;
        border: 2px solid grey;
    }
    .classhover:hover{
        border: 2px solid mediumspringgreen;
        box-shadow: 2px 2px 2px 2px mediumspringgreen;
    }
</style>