<template>
    <form class="col-6" @submit.prevent="auth">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   v-model="form.email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" v-model="form.password">
        </div>
        <div class="mb-3">
            <label for="exampleInputAge" class="form-label">Age</label>
            <input type="number" class="form-control" id="exampleInputAge" v-model="form.age">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</template>

<script>

import {mapActions} from "vuex";

export default {
    name: "SignUpPage",
    data(){
        return {
            form: {
                email: '',
                password: '',
                age: ''
            }
        }
    },
    methods: {
        ...mapActions(['createUser']),
        auth() {
            this.createUser(this.form)
                .then(() => {
                    this.$router.push('/login')
                    console.log('user muvaffaqqiyatli yaratildi')
                })
        }
    }
}
</script>

<style scoped>

</style>