<template>
    <div class="row">
        <div
            v-for="book of getBooks"
            v-bind:key="book.id"
            class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4"
        >
            <div class="card">
                <img :src="'http://localhost:8888'+ book.picture.contentUrl" class="card-img-top"
                     :alt= "book.name">
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <p>{{ book.price }}$</p>
                    <p class="card-text">{{ book.description }}</p>
                    <div class="d-flex justify-content-between">
                        <router-link :to="'/book-info/' + book.id" class="btn btn-primary">O'qish</router-link>
                        <button class="btn btn-success">+ Korzinka</button>
                        <router-link :to="'/edit-book/' + book.id" class="btn btn-warning">Edit</router-link>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "BooksRow",
    computed: {
        ...mapGetters(['getBooks'])
    },
    methods: {
        ...mapActions(['fetchBooks'])
    },
    watch: {
        '$route.params.id'() {
            console.log('id uzgarmoqda')
            this.fetchBooks({categoryId: this.$route.params.id})
        }
    },
    mounted() {
        console.log('booksRow componentimiz yuklandi')
        this.fetchBooks({categoryId: this.$route.params.id})
    }
}
</script>

<style scoped>

</style>