<template>
    <div class="row">
        <div class="col">
            <footer class="bg-dark text-light p-5 mt-4">
                &copy; All rights reserved. 2023 {{foo}} - {{bar}}
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    name: "FooterRow",
    props: {
        foo: {
            type:String,
            required: true
        },
        bar: {
            type: Number,
            default: 32
        }
    }
}
</script>

<style scoped>

</style>