<template>
    <paginate
        v-model="page"
        :page-count="Math.ceil(getTotalBooks/3)"
        :page-range="3"
        :margin-pages="2"
        :click-handler="clickCallback"
        :prev-text="'Prev'"
        :next-text="'Next'"
        :container-class="'pagination'"
        :page-class="'page-item'"
    >
    </paginate>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Paginate from "vuejs-paginate-next";

export default {
    name: "PaginationRow",
    data(){
        return{
            page: 1
        }
    },
    components: {
        paginate: Paginate,
    },
    computed: {
        ...mapGetters(['getTotalBooks'])
    },
    watch:{
        'getTotalBooks'(){
            this.page = 1
        }
    },
    methods: {
        ...mapActions(['fetchBooks']),
        clickCallback (pageNum) {
            this.fetchBooks({
                categoryId : this.$route.params.id ?? null,
                page: pageNum
            })
        },
    },
    mounted() {
        console.log('pagination componentimiz yuklandi')
    }
}
</script>

<style scoped>

</style>